:root.torch {
  cursor: pointer;
  --cursorX: 50vw;
  --cursorY: 50vh;
}
:root.torch:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(
    circle 20vmax at var(--cursorX) var(--cursorY),
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,.5) 80%,
    rgba(0,0,0,.95) 100%
  );
  z-index: 1;
}

html {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin:0;
  padding:0;
}

body {
  cursor: default;
}

.progress-container{
  z-index: 15;
  position: fixed;
  width: 20px;
  height: 100%;
  background: lightblue;
}
.progress-bar {
  height: 0%;
  width: 20px;
  background: #00F;
}
.progress-depth{
  height: 8px;
  position: relative;
  left: 25px;
  top: -55px;
  color: aqua;
  font-size: x-large;
}

.mid {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: black;
  height: auto;
  z-index: 5;
}

/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: 0.75em; /* Sizes the switch */
  margin: 1em;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

wholepage {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  flex-direction: column;
  justify-content: center;
}

wholepage > header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 10;
  cursor: url(../../Images/Bird/268.png) 64 64, default;
}

/*Alt i transition, animation, og keyframes får himmel billedet til at skifte på en timer, duration styrer timerens tid*/
#Sky img {
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#Sky img.top {
  animation-name: skyFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-direction: alternate;
}

@keyframes skyFade {
  0% {
      opacity: 1;
  }
  45% {
      opacity: 1;
  }
  55% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}

.ocean {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../images/Water/Water billede.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  bottom: 0;
  left: 0;
  filter: url("#turbulence");
}

.titelTekst {
  position: relative;
  top: 25rem;
  text-align: center;
  z-index: 11;
}

wholepage > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#diverCursor {
  cursor: url(../../Images/Diver/submarinista-02.gif) 150 25, default;
}

#submarineCursor {
  cursor: url(../../Images/Bird/268.png) 64 64, default;
}

intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 7;
  color: lightblue;
}

#overgang {
  height: auto;
  z-index: 6;
  background-image: linear-gradient(rgb(3, 78, 88) 0%, rgb(1.5, 39, 44) 50%, rgb(0, 0, 0) 100%);
}

#waterSound {
  z-index: 50;
}

#undergang {
  width: 100%;
  height: 20vmax + 100vh;
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgb(1.5, 39, 44) 50%, rgb(3, 78, 88) 100%);
}

#pre-black1 {
  height: 19vmax;
  width: 100%;
}

#pre-black2 {
  height: 1vmax;
  width: 100%;
}

#havMørke {
  width: 100%;
  height: 20vmax + 100vh;
  background-image: linear-gradient(navy, black);
  border: solid 2px black;
}

#switchOffFailSafe {
  width: 100%;
  height: 19vmax;
  border: solid 2px red;
}

#switchOffFailSafe2 {
  width: 100%;
  height: 1vmax;
  border: solid 2px blue;
}

#pre-black3 {
  width: 100%;
  height: 1vmax;
  border: solid 2px yellow;
}

#pre-black4 {
  width: 100%;
  height: 19vmax;
  border: solid 2px green;
}

explainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
}

explainer > h2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: sticky;
  bottom: 5%;
  right: 10em;
  height: auto;
  color: lightblue;
  font-size: xx-large;
  z-index: 7;
}

content {
  width: 100%;
}

#vandFarve {
  height: auto;
  background-image: linear-gradient(rgb(3, 78, 88), aqua, blue, navy);
}

pilher {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

pilher > billede {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 280px;
  background: url("../../Images/Other/Fish Arrow.png") no-repeat;
  transform: rotate(45deg);
  z-index: 7;
}

scroll {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

ul > section {
  display: flex;
  height: 1000px;
  width: 100%;
  align-items: flex-start;
}

ul > section > item, ul > section > empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
  width: 50%;
}

ul > between {
  height: 5px;
}

.leftPopup, .rightPopup, .left180Pop, .right180Pop {
  visibility: hidden;
  min-width: 300px;
  max-width: 30%;
  min-height: 300px;
  background-color: #00aeff;
  position: absolute;
  z-index: 3;
  border-width: 5px;
  border-radius: 25px;
  border-style: outset;
  border-color: #2222ff;
  padding: 20px;
}

billede > span {
  color: #2222aa;
  font-size: large;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.rightPopup {
  left: 15%;
}

.leftPopup {
  right: 15%;
}

.right180Pop {
  left: 150%;
}

.left180Pop {
  right: 120%;
}

billede:hover .rightPopup, billede:hover .leftPopup, billede:hover .right180Pop, billede:hover .left180Pop {
  visibility: visible;
}

thermometer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  row-gap: 50px;
  z-index: 2;
}

temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 800px;

}

degree {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 5%;
  height: auto;
  color: lightblue;
  font-size: xx-large;
}

wholepage > main > content > article {
  width: 95%;
}

wholepage > footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: auto;
  height: 10vh;
  font-size: 18px;
  background-color: rgb(228, 201, 176);
}





.left180Pop, .right180Pop {
  -webkit-transform:rotate(180deg); 
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}





#ladyLiberty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 257px;
  height: 196px;
  background: url("../../Images/DepthItems/ladyLiberty.png") no-repeat;
}
#ladyLiberty:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/ladyLibertyRed.png") no-repeat;
  z-index: 2;
}

#eiffelTower {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 422px;
  height: 591px;
  background: url("../../Images/DepthItems/eiffelTower.png") no-repeat;
}
#eiffelTower:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/eiffelTowerRed.png") no-repeat;
  z-index: 2;
}

#diver {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 259px;
  height: 194px;
  background: url("../../Images/DepthItems/diver.jpg") no-repeat;
}
#diver:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/diverRed.png") no-repeat;
  z-index: 2;
}

#seaAngel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 199px;
  height: 253px;
  background: url("../../Images/DepthItems/seaAngel.png") no-repeat;
}
#seaAngel:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/seaAngelRed.png") no-repeat;
  z-index: 2;
}

#blåhval {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 577px;
  height: 432px;
  background: url("../../Images/DepthItems/blueWhale.jpg") no-repeat;
}
#blåhval:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/blueWhaleRed.png") no-repeat;
  z-index: 2;
}

#giantPacificOctopus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 259px;
  height: 194px;
  background: url("../../Images/DepthItems/diver.jpg") no-repeat;
}
#giantPacificOctopus:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/DiverRed.png") no-repeat;
  z-index: 2;
}

#burjKhalifa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 666px;
  background: url("../../Images/DepthItems/burjKhalifa.png") no-repeat;
}
#burjKhalifa:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/burjKhalifaRed.png") no-repeat;
  z-index: 2;
}

#midnightZone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 259px;
  height: 194px;
  background: url("../../Images/DepthItems/diver.jpg") no-repeat;
}
#midnightZone:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/DiverRed.png") no-repeat;
  z-index: 2;
}

#anglerFish {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 403px;
  height: 403px;
  background: url("../../Images/DepthItems/anglerFish.png") no-repeat;
}
#anglerFish:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/anglerFishRed.png") no-repeat;
  z-index: 2;
}

/* #anglerSection {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
}

#anglerFish, #anglerSection > empty {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 8vh;
  left: 8vw;
  width: 403px;
  height: 403px;
}

#anglerFish {
  background: url("../../Images/Other/Angler Fish.png") no-repeat;
  z-index: 0;
}

#anglerSection > empty {
  z-index: 7;
}

#anglerSection > empty > light {
  position: relative;
  bottom: 62px;
  left: -116px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 15px #fff,
    0 0 100px 30px #f0f,
    0 0 140px 45px #0ff;
  z-index: 7;
} */

#blobFish {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 152px;
  background: url("../../Images/DepthItems/blobFish.png") no-repeat;
}
#blobFish:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/blobFishRed.png") no-repeat;
  z-index: 2;
}

#bigRedJellyfish {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 224px;
  height: 225px;
  background: url("../../Images/DepthItems/bigRedJellyfish.png") no-repeat;
}
#bigRedJellyfish:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/bigRedJellyfishRed.png") no-repeat;
  z-index: 2;
}

#narhval {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 259px;
  height: 194px;
  background: url("../../Images/DepthItems/narhval.png") no-repeat;
}
#narhval:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/narhvalRed.png") no-repeat;
  z-index: 2;
}

#telescopeOctopus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 242px;
  background: url("../../Images/DepthItems/telescopeOctopus.png") no-repeat;
}
#telescopeOctopus:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/telescopeOctopusRed.png") no-repeat;
  z-index: 2;
}

#colossalSquid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 225px;
  background: url("../../Images/DepthItems/colossalSquid.png") no-repeat;
}
#colossalSquid:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/colossalSquidRed.png") no-repeat;
  z-index: 2;
}

#headlessChickenFish {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 194px;
  height: 259px;
  background: url("../../Images/DepthItems/headlessChickenFish.png") no-repeat;
}
#headlessChickenFish:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/headlessChickenFishRed.png") no-repeat;
  z-index: 2;
}

#cookiecutterShark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 299px;
  height: 168px;
  background: url("../../Images/DepthItems/cookiecutterShark.png") no-repeat;
}
#cookiecutterShark:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/cookiecutterSharkRed.png") no-repeat;
  z-index: 2;
}

#averageDepth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 259px;
  height: 194px;
  background: url("../../Images/DepthItems/diver.jpg") no-repeat;
}
#averageDepth:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/diverRed.png") no-repeat;
  z-index: 2;
}

#Titanic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 180px;
  background: url("../../Images/DepthItems/Titanic.png") no-repeat;
}
#Titanic:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/TitanicRed.png") no-repeat;
  z-index: 2;
}

#freezingPoint {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 259px;
  height: 194px;
  background: url("../../Images/DepthItems/diver.jpg") no-repeat;
}
#freezingPoint:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/diverRed.png") no-repeat;
  z-index: 2;
}

#dumboOctopus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 259px;
  height: 194px;
  background: url("../../Images/DepthItems/diver.jpg") no-repeat;
}
#dumboOctopus:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/diverRed.png") no-repeat;
  z-index: 2;
}

#manilaTrench {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 259px;
  height: 194px;
  background: url("../../Images/DepthItems/diver.jpg") no-repeat;
}
#manilaTrench:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/diverRed.png") no-repeat;
  z-index: 2;
}

#hadalZone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 259px;
  height: 194px;
  background: url("../../Images/DepthItems/diver.jpg") no-repeat;
}
#hadalZone:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/diverRed.png") no-repeat;
  z-index: 2;
}

#ussJohnston {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 259px;
  height: 194px;
  background: url("../../Images/DepthItems/diver.jpg") no-repeat;
}
#ussJohnston:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/diverRed.png") no-repeat;
  z-index: 2;
}

#javaTrench {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 259px;
  height: 194px;
  background: url("../../Images/DepthItems/diver.jpg") no-repeat;
}
#javaTrench:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/diverRed.png") no-repeat;
  z-index: 2;
}

#hadalSnailfish {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 259px;
  height: 194px;
  background: url("../../Images/DepthItems/diver.jpg") no-repeat;
}
#hadalSnailfish:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/diverRed.png") no-repeat;
  z-index: 2;
}

#puertoRicoTrench {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 259px;
  height: 194px;
  background: url("../../Images/DepthItems/diver.jpg") no-repeat;
}
#puertoRicoTrench:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/diverRed.png") no-repeat;
  z-index: 2;
}

#seaCucumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 225px;
  background: url("../../Images/DepthItems/seaCucumber.png") no-repeat;
}
#seaCucumber:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/seaCucumberRed.png") no-repeat;
  z-index: 2;
}

#mountEverest {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 596px;
  height: 418px;
  background: url("../../Images/DepthItems/mountEverest.png") no-repeat;
}
#mountEverest:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/mountEverestRed.png") no-repeat;
  z-index: 2;
}

#Trieste {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 259px;
  height: 194px;
  background: url("../../Images/DepthItems/diver.jpg") no-repeat;
}
#Trieste:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/diverRed.png") no-repeat;
  z-index: 2;
}
