:root {
  cursor: pointer;
  --cursorX: 50vw;
  --cursorY: 50vh;
}

:root:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(circle 15vmax at var(--cursorX) var(--cursorY), 
  rgba(0,0,0,0) 0%,
  rgba(0,0,0,.5) 80%, 
  rgba(0,0,0,.95) 100%);
  z-index: 1;
}

.progress-container{
  z-index: 5;
  position: fixed;
  width: 8px;
  height: 100%;
  background: #ccc;
}
.progress-bar {
  height: 0%;
  width: 8px;
  background: #00F;
}
.progress-depth{
  height: 8px;
  position: relative;
  left: 10px;
  top: -40px;
  color: red;
}

/*Alt i transition, animation, og keyframes får himmel billedet til at skifte på en timer, duration styrer timerens tid*/
#Sky img {
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#Sky img.top {
  animation-name: skyFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-direction: alternate;
}

@keyframes skyFade {
  0% {
      opacity: 1;
  }
  45% {
      opacity: 1;
  }
  55% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}

.ocean {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../images/Water/Water billede.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  bottom: 0;
  left: 0;
  filter: url("#turbulence");
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  cursor: default;
}

.water {
  cursor: url(../../Images/Diver/submarinista-02.gif) 150 25, default;
}

wholepage {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  flex-direction: column;
  justify-content: center;
}

wholepage > header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 2;
  cursor: url(../../Images/Bird/268.png) 64 64, default;
}

.titelTekst {
  position: absolute;
  text-align: center;
  left: 40%;
  top: 40%;
  z-index: 5;
}

wholepage > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

wholepage > main > article {
  width: 95%;
}

wholepage > footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: auto;
  height: 10vh;
  font-size: 18px;
  background-color: rgb(228, 201, 176);
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1800px;
}

ul > section {
  display: flex;
  height: 1000px;
  width: 100%;
  align-items: flex-start;
}

ul > section > empty {
  display: flex;
  justify-content: center;
  height: 1000px;
  width: 50%;
  /* border: 2px solid blue; */
}

ul > section > item {
  display: flex;
  justify-content: center;
  height: 1000px;
  width: 50%;
  /* border: 2px solid red; */
}

ul > between {
  height: 1000px;
}

#vandFarve {
  height: auto;
  background-image: linear-gradient(#034E58, aqua, blue, navy, black);
}