:root.torch {
  cursor: pointer;
  --cursorX: 50vw;
  --cursorY: 50vh;
}
:root.torch:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(
    circle 20vmax at var(--cursorX) var(--cursorY),
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,.5) 80%,
    rgba(0,0,0,.95) 100%
  );
  z-index: 1;
}

html {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin:0;
  padding:0;
}

body {
  cursor: default;
}

.progress-container{
  z-index: 15;
  position: fixed;
  width: 20px;
  height: 100%;
  background: lightblue;
}
.progress-bar {
  height: 0%;
  width: 20px;
  background: #00F;
}
.progress-depth{
  height: 8px;
  position: relative;
  left: 25px;
  top: -55px;
  color: aqua;
  font-size: x-large;
}

.mid {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: black;
  height: auto;
  z-index: 5;
}

/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: 0.75em; /* Sizes the switch */
  margin: 1em;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

wholepage {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  flex-direction: column;
  justify-content: center;
}

wholepage > header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 10;
  cursor: url(../../Images/Bird/268.png) 64 64, default;
}

/*Alt i transition, animation, og keyframes får himmel billedet til at skifte på en timer, duration styrer timerens tid*/
#Sky img {
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#Sky img.top {
  animation-name: skyFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-direction: alternate;
}

@keyframes skyFade {
  0% {
      opacity: 1;
  }
  45% {
      opacity: 1;
  }
  55% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}

.ocean {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../images/Water/Water billede.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  bottom: 0;
  left: 0;
  filter: url("#turbulence");
}

.titelTekst {
  position: relative;
  top: 25rem;
  text-align: center;
  z-index: 11;
}

wholepage > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#diverCursor {
  cursor: url(../../Images/Diver/submarinista-02.gif) 150 25, default;
}

#submarineCursor {
  cursor: url(../../Images/Bird/268.png) 64 64, default;
}

intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 7;
  color: lightblue;
}

#overgang {
  height: auto;
  z-index: 6;
  background-image: linear-gradient(rgb(3, 78, 88) 0%, rgb(1.5, 39, 44) 50%, rgb(0, 0, 0) 100%);
}

#undergang {
  width: 100%;
  height: 20vmax + 100vh;
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgb(1.5, 39, 44) 50%, rgb(3, 78, 88) 100%);
}

#pre-black1 {
  height: 19vmax;
  width: 100%;
}

#pre-black2 {
  height: 1vmax;
  width: 100%;
}

#havMørke {
  width: 100%;
  height: 20vmax + 100vh;
  background-image: linear-gradient(navy, black);
}

#switchOffFailSafe {
  width: 100%;
  height: 19vmax;
}

#switchOffFailSafe2 {
  width: 100%;
  height: 1vmax;
}

#pre-black3 {
  width: 100%;
  height: 1vmax;
}

#pre-black4 {
  width: 100%;
  height: 19vmax;
}

explainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
}

explainer > h2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: sticky;
  bottom: 5%;
  right: 10em;
  height: auto;
  color: lightblue;
  font-size: xx-large;
  z-index: 7;
}

#vandFarve {
  height: auto;
  background-image: linear-gradient(rgb(3, 78, 88), aqua, blue, navy);
}

pilher {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

pilher > billede {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 280px;
  background: url("../../Images/Other/Fish Arrow.png") no-repeat;
  transform: rotate(45deg);
  z-index: 7;
}

scroll {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

ul > section {
  display: flex;
  height: 1000px;
  width: 100%;
  align-items: flex-start;
}

ul > section > item, ul > section > empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
  width: 50%;
}

ul > between {
  height: 500px;
}

.leftPopup, .rightPopup {
  visibility: hidden;
  width: 20%;
  height: 33%;
  background-color: lightblue;
  position: absolute;
  z-index: 3;
  border-radius: 6px;
  padding: 8px 0;
}

.left180Pop, .right180Pop {
  visibility: hidden;
  width: 70%;
  height: 70%;
  background-color: lightblue;
  position: absolute;
  z-index: 3;
  border-radius: 6px;
  padding: 8px 0;
  -webkit-transform:rotate(180deg); 
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
}

.rightPopup {
  left: 15%;
}

.leftPopup {
  right: 15%;
}

.right180Pop {
  left: 150%;
}

.left180Pop {
  right: 120%;
}

billede:hover .rightPopup, billede:hover .leftPopup, billede:hover .right180Pop, billede:hover .left180Pop {
  visibility: visible;
}

thermometer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  row-gap: 50px;
  z-index: 2;
}

temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 800px;

}

degree {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 5%;
  height: auto;
  color: lightblue;
  font-size: xx-large;
}

wholepage > main > content > article {
  width: 95%;
}

anglerfish {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
}

anglerfish > billede, anglerfish > empty {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 8vh;
  left: 8vw;
  width: 403px;
  height: 403px;
}

anglerfish > billede {
  background: url("../../Images/Other/Angler Fish.png") no-repeat;
  z-index: 0;
}

anglerfish > empty {
  z-index: 7;
}

anglerfish > empty > light {
  position: relative;
  bottom: 62px;
  left: -270px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 15px #fff,  /* inner white */
    0 0 100px 30px #f0f, /* middle magenta */
    0 0 140px 45px #0ff; /* outer cyan */
  z-index: 7;
}

wholepage > footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: auto;
  height: 10vh;
  font-size: 18px;
  background-color: rgb(228, 201, 176);
}





#eiffel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 422px;
  height: 591px;
  background: url("../../Images/DepthItems/Eiffel Tower.png") no-repeat;
  -webkit-transform:rotate(180deg); 
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
}
#eiffel:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/Eiffel Tower Red.png") no-repeat;
  z-index: 2;
}

#diver {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 259px;
  height: 194px;
  background: url("../../Images/DepthItems/diver.jpg") no-repeat;
}
#diver:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/Diver Red.png") no-repeat;
  z-index: 2;
}

#whale {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 577px;
  height: 432px;
  background: url("../../Images/DepthItems/BlueWhale.jpg") no-repeat;
}
#whale:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/Whale Red.png") no-repeat;
  z-index: 2;
}

#Khalifa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 477px;
  height: 523px;
  background: url("../../Images/DepthItems/Khalifa.jpg") no-repeat;
  -webkit-transform:rotate(180deg);
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
}
#Khalifa:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/Diver Red.png") no-repeat;
  z-index: 2;
}

#MountRush {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 217px;
  height: 232px;
  background: url("../../Images/DepthItems/Mountrushmore.jpg") no-repeat;
  -webkit-transform:rotate(180deg); 
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);
}
#MountRush:hover {
  background: url("../../Images/DepthItems/OutlinedDepthItems/Diver Red.png") no-repeat;
  z-index: 2;
}
