* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  cursor: pointer;
  --cursorX: 50vw;
  --cursorY: 50vh;
}

:root:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(circle 15vmax at var(--cursorX) var(--cursorY), 
  rgba(0,0,0,0) 0%,
  rgba(0,0,0,.5) 80%, 
  rgba(0,0,0,.95) 100%);
  z-index: 1;
}

body {
  background-color: rgb(249, 249, 249);
  cursor: default;
}

main {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  flex-direction: column;
  justify-content: center;
}

.titelTekst {
  position: relative;
  text-align: center;
  top: 300px;
}

/* Depth Counter */
.progress-container{
  z-index: 5;
  position: fixed;
  width: 8px;
  height: 100%;
  background: #ccc;
}
.progress-bar {
  height: 0%;
  width: 8px;
  background: #00F;
}
.progress-depth{
  height: 8px;
  position: relative;
  left: 10px;
  top: -40px;
  color: red;
}
/*              */

h2 {color:aliceblue;}

.water {
  cursor: url(../../Images/Diver/submarinista-02.gif), default;
}

ul {
  margin-left: 15px;
}

.eiffel {
  position: relative;
  width: 50%;
  left: 40vw;
}

.footless {
  margin-left: 15px;
}

footer {
  background-color: rgb(228, 201, 176);
  justify-content: center;
  width: auto;
  display: flex;
  align-items: flex-end;
  height: 10vh
}

/* .image {
  display: block;
  width: 100%;
  height: auto;
 object-position: right bottom;
} */
        
/* .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
} */


/* Animation Style */

.showcase {
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 2;
  cursor: url(../../Images/Bird/268.png), default;
}

.ocean {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../images/Water/Water billede.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  bottom: 0;
  left: 0;
  filter: url("#turbulence");
}

/*Alt i transition, animation, og keyframes får himmel billedet til at skifte på en timer, duration styrer timerens tid*/
#Sky img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  
}

#Sky img.top {
  animation-name: skyFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-direction: alternate;
}
@keyframes skyFade {
  0% {
      opacity: 1;
  }
  45% {
      opacity: 1;
  }
  55% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}


#vandFarve {
  height: auto;
  background-image: linear-gradient(#034E58, aqua, blue, navy, black);
}

/* body {cursor: url(http://www.rw-designer.com/cursor-extern.php?id=127087);} */
/* <a href ="http://www.rw-designer.com/cursor-set/beach-1"
title="Get free cursors for your web.">Life's A Beach Cursors</a> */